html {
  background-color: rgba(27, 38, 54, 0) !important;
  text-align: center;
  color: white;
}

body {
  margin: 0;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
  background: transparent !important;
}

#console {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #0f0;
  white-space: pre-wrap;
  background: transparent !important;
}

#inputBar {
  padding: 15px;
  display: flex;
  background: #000;
  border-top: 1px solid #0f0;
}

#cmdInput {
  flex: 1;
  background: #000;
  border: none;
  color: #0f0;
  font-size: 16px;
  outline: none;
  font-family: Consolas, monospace;
  width: 100%;
  min-height: 30px;
}

.line {
  margin-bottom: 8px;
}

.user {
  color: #0f0;
}

.server {
  color: #08f;
}

.error {
  color: #f00;
}





